
/* Your CSS Code here. */
.holder{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2,200px);
}

.holder div{
    padding: 10px;
    border: 2px solid black;
}
